*.log
*.tmp
*.pid
*.sock

.env
.env.local
.env.*.local
.testenv

node_modules/
.next/
out/
dist/
build/

*.exe
*.out
*.test
*.prof
*.cover
*.db
bin/

docker-compose.override.yml
*.tar

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
